*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(94, 204, 229);
    font-family: 'Times New Roman', Times, serif;
    max-width: 560px;
    margin: 25px auto;
}

#header{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blue;
    font-size: .75cm;
}

.divisa {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 15px;
    background: greenyellow;
    color: black;
    border-radius: 2cm;
}

.nombre {
    padding: 5px;
    font-size: 16px;
    align-self: center;
    text-align: center;
    border-radius: 2cm;
}